body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

h3 {
    font-size: 1.8em;
}

.isthisbaokaka__main-wrapper {
    width: 80%;
    margin: 150px auto;
}

.isthisbaokaka__heading-text {
    font-size: 2.5em;
    text-align: center;
    color: rgba(174,109,54,0.4);
}

.isthisbaokaka__input-text-field {
    width: 100%;
    font-size: 1.5em;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: 0px 0px 89px 0px rgba(0,0,0,0.25);
}

.isthisbaokaka__input-text-field:focus {
    outline: none;
}

.isthisbaokaka__input-text-field::placeholder {
    color: rgba(128,128,128,0.25);
}

.isthisbaokaka__positive-result-text {
    color: #dd1111;
    text-align: center;
}

.isthisbaokaka__negative-result-text {
    color: #01b468;
    text-align: center;
}
