body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
}

.isthisbaokaka__main-wrapper {
    width: 80%;
    margin: 150px auto;
}

.isthisbaokaka__heading-text {
    font-size: 2em;
    text-align: center;
    color: rgba(174,109,54,0.4);
}

.isthisbaokaka__input-text-field {
    width: 100%;
    font-size: 1.5em;
    padding: 0.7em;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.25);
    border-radius: 8px;
    text-align: center;
    -webkit-appearance: none;
}

.isthisbaokaka__input-text-field:focus {
    outline: none;
}

.isthisbaokaka__input-text-field::placeholder {
    color: rgba(128,128,128,0.25);
}

.isthisbaokaka__positive-result-text {
    color: #dd1111;
    text-align: center;
}

.isthisbaokaka__negative-result-text {
    color: #01b468;
    text-align: center;
}

.isthisbaokaka__negative-result-description {
    text-align: center;
}

.isthisbaokaka__status-report-wrapper {
    width: 100%;
}

.isthisbaokaka__status-report-loading-spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid rgba(174,109,54,0.4);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.isthisbaokaka__status-report-request-error-heading {
    color: #dd2323;
    text-align: center;
}

.isthisbaokaka__status-report-request-error-description {
    text-align: center;
}
