body {
    font: 36px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

.isthisbaokaka__wrapper {
    width: 80%;
    margin: 150px auto;
}

.isthisbaokaka__heading-text {
    font-size: 32px;
}

.isthisbaokaka__input-text-field {
    width: 100%;
    font-size: 32px;
}

.isthisbaokaka__main-button {
    width: 100%;
    font-size: 24px;
    margin-top: 8px;
}

.isthisbaokaka__positive-result-text {
    color: #dd1111;
}

.isthisbaokaka__negative-result-text {
    color: #12dddd;
}
